QMainWindow {
    background-color: qlineargradient(spread:reflect, x1:0.549682, y1:0.494, x2:0, y2:0, stop:0 rgba(0, 18, 221, 216), stop:1 rgba(179, 0, 241, 216));
    font: 10pt "Bahnschrift SemiLight";
    color: rgb(255, 255, 255);
}

QWidget{
    background-color: qlineargradient(spread:reflect, x1:0.549682, y1:0.494, x2:0, y2:0, stop:0 rgba(0, 18, 221, 216), stop:1 rgba(179, 0, 241, 216));
    font: 10pt "Bahnschrift SemiLight";
}

QDialog{
    background-color: qlineargradient(spread:reflect, x1:0.549682, y1:0.494, x2:0, y2:0, stop:0 rgba(0, 18, 221, 216), stop:1 rgba(179, 0, 241, 216));
    font: 10pt "Bahnschrift SemiLight";

}

QFrame{
    background-color: rgba(255, 255, 255, 30);
    border: 1px solid rgba(255, 255, 255, 40);
    border-radius: 7px;
    color: rgb(255, 255, 255);
}
QPushButton {
    font: 75 12pt "MS Shell Dlg 2";
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 50);
    border: 1px solid rgba(255, 255, 255, 60);
    border-radius: 7px;
    width: 230px;
    height: 30px;
}
QPushButton:hover{
    background-color: rgba(255, 255, 255, 70);
}
    
QPushButton:pressed{
    background-color: rgba(255, 255, 255, 90);
}

QTableView {
background-color: rgba(255, 255, 255, 30);
border: 1px solid rgba(255, 255, 255, 40);
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}

QTableView::section{
background-color: rgba(53,53,53);
color: rgb(255, 255, 255);
border: none;
height: 50px;
font: 14pt "MS Shell Dlg 2";
}

QTableView::item{
border-style: none;
border-bottom: rgba(255, 255, 255, 50);
}

QTableView::item:selected{
border: none;
color: rgb(255, 255, 255);
background-color: rgba(255, 255, 255, 50);
}

QComboBox {
color: rgb(255, 255, 255);
background-color: qlineargradient(spread:reflect, x1:0.549682, y1:0.494, x2:0, y2:0, stop:0 rgba(0, 18, 221, 150), stop:1 rgba(179, 0, 241, 150));;
border: 1px solid rgba(255, 255, 255, 50);
border-radius: 7px;
    font: 14pt "MS Shell Dlg 2";
}

